@import '../../vars.scss';
@import '../../mixins.scss';


.AreasPractica{
  // border: $border-test;
  width: 100vw;
  height: auto;
  margin-bottom: 50px;
  @include basic-flexbox(flex-start,flex-start,row);
  
  & .AreasPractica__decoration{
    // border: $border-test;
    width: 25vw;
    height: 100%;
    min-height: 100%;
    & .AreasPractica__decoration-img{
      width: 100%;
      height: 100%;
    }
  }
}

.AreasPractica__contenido{
  // border: $border-test;
  width: 70vw;
  margin-left: 5vw;
  height: 100%;
}

.AreasPractica__contenido-title{
  // border: $border-test;
  font-family: $font-unna;
  font-weight: bold;
  color :$color-grey-meiumLight;
  padding-bottom: 10px;
  width: 25vw;
  line-height: 80px;
  position: relative;

  & img{
    position: absolute;
    right: 0;
  }
}

.AreasPractica__contenido-subtitle{
  font-family: $font-arsenal;
  font-weight: bold;
  color :$color-grey-meiumLight;
}

.AreasPractica__contenido-description{
  font-size: $font-arsenal;
  font-weight: normal;
  color :$color-grey-meiumLight;
}

.AreasPractica__contenido-list{
  // border: $border-test;
  display: grid;
  grid-template-columns: repeat(2,50%);
  grid-template-rows: repeat(auto,10vh);

  & div{
    @include basic-flexbox(flex-start,center,row);
    font-family: $font-arsenal;
    
  }

  & div div{
    width: 10px;
    height: 10px;
    background-color: $color-red-ihma;
    margin-right: 2vw;
  }

  & div p{
    font-size: $font-arsenal;
    font-weight: bold;
    color :$color-grey-meiumLight;
  }
}

@media screen and(max-width: 1100px){
  .AreasPractica{
    flex-direction: column;
    align-items: center;
    & .AreasPractica__decoration{
      height: 55vh;
      width: 100%;
      background-image: url('../../img/areasDecorateLittle.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      & .AreasPractica__decoration-img{
        display: none;
      }
    }

    & .AreasPractica__contenido-title{
      display: none;
    }
    
    & .AreasPractica__contenido-subtitle{
      background-image: url('../../img/escuadra.png');
      background-repeat: no-repeat;
      background-position: right;
      background-position-y: 1px;
      width: 90%;
      font-size: 1.5rem;
      line-height: 25px;
      padding-right: 5%;
    }


  }
}

@media screen and(max-width: 700px){

  .AreasPractica{
    & .AreasPractica__contenido{
      width: 90%;
    }
    & .AreasPractica__decoration{
      height: 45vh;
      
    }

    & .AreasPractica__contenido-subtitle{
      width: 95%;
      font-size: 1.2rem;

    }

    
    & .AreasPractica__contenido-description{
      font-size: 1.2rem;
      text-align: justify;
    }

    & .AreasPractica__contenido-list{
      grid-template-columns: 100%;

      & div p{
        font-size: 1.4rem;
        margin: 0;
        line-height: 55px;
      }
    }

  }
}

@media screen and(max-width: 500px){
  .AreasPractica{

    & .AreasPractica__decoration{
      height: 30vh;
      
    }

    & .AreasPractica__contenido-list{
      & div p{
        font-size: 1.2rem;
        line-height: 50px;
      }
    }

  }
}

@media screen and(max-width: 320px){
  .AreasPractica{

    & .AreasPractica__contenido-list{
      & div p{
        font-size: 1rem;
        line-height: 40px;
      }
    }

  }
}