@import '../../vars.scss';
@import '../../mixins.scss';


.Reconocimientos{
  // border: 1px solid black;
  width: 100vw;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;

  & .Reconocimientos__img{
    grid-column: 1/2;
    grid-row: 1/2;

    & img{
      width: 100%;
      height: 100%;
    }
  }

  & .Reconocimientos__text{
    // border: 1px solid red;
    padding: 2% 5%;
    display: block;
    
    & .Reconocimientos__text-titles{
      // border: 1px solid blue;
      grid-column: 1/2;
      grid-row: 1/2;
      & h1{
        // border: 1px solid black;
        margin: 0;
        font-family: $font-unna;
        color: $color-grey-meiumLight;
        font-size: 2.3rem;
        line-height: 80px;
        width: 45%;
        position: relative;
        
        & img{
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }

    & .Reconocimientos__text-details{
      margin: 40px 0;
      margin-top: 10px;
      & p{
        // border: 1px solid green;
        text-align: justify;
        font-family: $font-arsenal;
        color: $color-grey-meiumLight;
        font-size: 1.5rem;
      }
    }

    & .Reconocimientos__text-img{
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      & img{
        height: 100%;
        width: 30%;
        margin-right: 3%;
        // height: 80%;
      }
    }

  }
}

@media screen and(max-width: 1020px){
  .Reconocimientos .Reconocimientos__text .Reconocimientos__text-titles h1{
    width: 70%;
  }
}

@media screen and(max-width: 650px){
  .Reconocimientos{

    grid-template-columns: 100%;
    grid-template-rows: auto auto;

    & .Reconocimientos__img{
      height: 25vh;
    }
  }

  .Reconocimientos .Reconocimientos__text .Reconocimientos__text-titles h1{
    width: 80%;
    font-size: 2rem;
  }

  .Reconocimientos .Reconocimientos__text .Reconocimientos__text-details p{
    font-size: 1.2rem;
  }
}