@import "../../vars.scss";
@import "../../mixins.scss";


.HeroHome{
    //border: $border-test;
    width: 100vw;
    height: 35vh;
    position: relative;
}

.HeroHome__textura{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.HeroHome__color{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.HeroHome__logo{
    width: 40%;
    height: 100%;
    position: absolute;
    right: 5%;
    bottom: 0;
    z-index: 2;
}

.HeroHome__description{
    margin: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 2%;
    top: 25%;
    z-index: 2;
    font-family: $font-unna;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    font-size: 3em;
}


@media screen and (max-width: 700px){
    .HeroHome__description{
        font-size: 2.3rem;
        top: 65%;
        left: 10%;
        width: auto;
    }

    .HeroHome{
        height: 50vh;
    }

    .HeroHome__logo{
        width: 60%;
        height: 50%;
        position: absolute;
        right: 10%;
        top: 0;
        z-index: 2;
    }

}