@import "../../vars.scss";
@import "../../mixins.scss";
.Navbar{
    width: 100vw;
    height: 120px;
    background-color: $color-nav;
    @include basic-flexbox(space-between,center,row);

}

.Navbar__desplegable{
    // border: $border-test;
    display: none;
    background-color: rgb(241, 240, 240);
    position: fixed;
    z-index: 10;
    right: 5px;
    top: 15px;
    width: 40vw;
    padding: 10px 20px 20px 20px;
    border-radius: 15px;

   

    & .Navbar__desplegable-item:nth-of-type(1){
        margin-bottom: 20px;
    }

    & .Navbar__desplegable-item:nth-child(n+2){
        & a{
            text-decoration: none;
            color: black;
            border-bottom: 1px solid $color-red-ihma;
            font-family: $font-montserrat;
            font-weight: bold;
            line-height: 40px;
            color: #535558;
            position: relative;
            @include basic-flexbox(space-between,center,row);
        }

    }

    & .Navbar__desplegable-item:nth-of-type(8){
        border: 0;
        margin-top: 40px;
        background-color: rgb(241, 240, 240);
        @include basic-flexbox(space-between,center,row);

        & .Navbar__desplegable-more:nth-of-type(4){
            & div{
                margin-top: 5px;
                width: 50px;
                height: 50px;
                background-color: $color-gray-little;
                @include basic-flexbox(center,center,row);
                border-radius: 50%;
            }
        }
    }
}

.Navbar__oculto{
    position: fixed;
    width: 40px;
    height: 40px;
    right: 0;
    margin-right: 5%;
    display: none;
    border-radius: 50%;
    z-index: 10;
}

.Navbar__logo{
    // border: $border-test;
    margin-left: 2vw;
    width: 15%;
    height: 95%;
    cursor: pointer;
    & img{
        width: 100%;
        height: 100%;
    }
}

.Navbar__nav{
    // border: $border-test;
    width: 80%;
    height: 95%;
    margin-right: 3vh;
    @include basic-flexbox(center,center,row);
}

.Navbar__nav ul{
    // border: $border-test;
    list-style: none;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    & li{
        float: left;
        margin-right: 2%;
        position: relative;
        
        & ul{
          display: none;
        }

        &:nth-of-type(3):hover {
          & ul{
            width: auto;
            box-shadow: 4px 7px 30px 0px rgba(145,145,145,1);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 20px;
            padding-right: 15px;
            position: absolute;
            background: white;
            z-index: 10;
            & li{
              line-height: 40px;
              border-bottom: 1px solid $color-gray-little;
              padding-left: 5px;
              & a{
                color: $color-grey-medium;
                font-family: $font-unna;
                font-weight: 700;
              }
            }
          }
        }
        
        & a{
            text-decoration: none;
        }

        & a span{
            color: $color-grey-medium;
            font-family: $font-unna;
            font-weight: 700;


        }

        & a i{
            color: $color-red-ihma;
            font-size: 25px;
            font-weight: bold;
        }

        &:hover{
            background-color: rgb(238, 238, 238);
        }
    }


}




.Navbar__nav .Navbar__nav-language{
    //border: $border-test;
    width: 10%;
    height: 95%;
    @include basic-flexbox(center,center,column);
    & *{
        margin: 0;
    }

    & div{
        // border: $border-test;
        width: 50px;
        height: 50px;
        margin-top: 8%;
        @include basic-flexbox(center,center,column);
        border-radius: 50%;
        background-color: $color-gray;
        font-weight: bold;
        cursor: pointer;

        &:hover{
            background-color: $color-gray-little;
        }
    }
}

@media screen and(max-width: 1560px){

    .Navbar__nav{
        width: 80%;
    }

    .Navbar__nav ul{
        width: 90%;
    }
}

@media screen and(max-width: 1280px){

    .Navbar__nav{
        width: 80%;
    }

    .Navbar__nav ul{
        width: 90%;
        padding-left: 0;
        & li {
        margin-right: 1%;
        }
    }
}

@media screen and(max-width: 1120px){
    // .Navbar__desplegable{
    //     display: block;
    // }
    .Navbar__nav {
        display: none;
    }

    .Navbar__oculto{
        display: block;
        @include basic-flexbox(center,center,row);

    }

    .Navbar__logo{
        height: 98%;
        width: auto;
    }
}

@media screen and(max-width: 750px){

    .Navbar__logo{
        height: 98%;
        // width: auto;
    }

    .Navbar__desplegable{
        width: 50vw;
    }
}

@media screen and(max-width: 500px){

    .Navbar__logo{
        height: 98%;
        // width: 45%;
    }

    .Navbar__desplegable{
        width: 60vw;
    }
}

@media screen and(max-width: 350px){

    .Navbar__logo{
        height: 98%;
        width: 80%;
    }
}