@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//colores
$color-nav: #ffffff;
$color-gray: #f1f1f1;
$color-gray-little: #C4C4C4;
$color-grey-medium: #535558;
$color-grey-meiumLight: #77787B ;
$color-red-ihma: #E11B22;
//elementos de test 
$border-test: 1px solid red;
//fuentes
$font-unna: 'Unna', serif;
$font-arsenal: 'Arsenal', sans-serif;